.react-calendar {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile p {
  margin: 0;
  font-size: 0.75rem;
  font-weight: bold;
}
